
---
import BaseLayout from "../layouts/BaseLayout.astro";
import Faq from "../components/infopages/Faq.astro";
import { getEntry } from "astro:content";
import { Markdown } from "astro/components";
const pageTitle = "Downloads";
const page = await getEntry("pages", "downloads");

if (!page) {
  throw new Error("Downloads page content not found");
}
---

<BaseLayout title={page.data.title} description={page.data.description}>
  <div class="bg-white py-16 sm:py-24">
    <div class="mx-auto max-w-4xl px-6 lg:px-8">
      <Markdown content={page.body} />
    </div>
  </div>

  {page.data.showFaq && <Faq />}
</BaseLayout>
